@import 'components/_header', 'variables/colors', 'variables/fonts', 'variables/keyframes';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}

body{
    background-color: $background;
}

.container{
    width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

//main page 

.first_page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main{
    width: 60%;
    margin-top: 3%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    width: 80%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    padding: 8% 5%;
    border-radius: 5px;
}

.article{
    display: none;
    height: 100%;

    &--visible{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-areas: 
        "title img"
        "text img"
        ;
        animation: slider 1.5s;
    }

    &__title{
        grid-area: title;
        color: white;
        justify-self: center;
    }

    &__text{
        grid-area: text;
        color: $textLight;
        justify-self: center;
    }

    &__img{
        height: 200px;
        grid-area: img;
        justify-self: center;
    }
}

.button__next, .button__prev{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    outline: none;
    border: none;
    transition: ease-in .3s;

    &:hover{
        width: 60px;
        height: 60px;
        top: 44%
    }

    img{
        width: 100%;
    }
}

.button__next{
    top: 45%;
    left: 95%;
}

.button__prev{
    top: 45%;
    right: 95%;
}

.calculator{
    display: flex;
    width: 60%;
    min-height: 20vh;
    margin: 3% 10%;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 5px;
}

.inputs{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__item{

        &--text{
            margin: 5% 0;
            color: $textLight;
            font-weight: 600;
        }

        &--input{
            width: 10vw;
            padding: 4%;
            background-color: $background;
            color: $textLight;
            border: none;
            border-radius: 3px;
        }
    }

    &__button{
        padding: 1.5% 2%;
        background-color: $second;
        border: none;
        border-radius: 3px;
    }
}
// second page 
.second_page{
    text-align: center;
    margin-top: 75px;
    padding: 10px;    
    width: 100%;
}

.second_page__title{
    padding: 10px;   
    color: $second;
}
.currency_rates{
    width: 70%;
    margin-left: auto;
    margin-right: auto; 
    border-spacing: 10px;
    border-collapse: collapse;
    color: $second;
}   
.rates_head_th{
    padding: 20px;
}
.rates_body_td{
    border-style: solid none solid none;
    padding: 20px;
}
.img_euro{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    padding: 1px;

}
.img_usd{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    padding: 1px;
}
.img_chf{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    padding: 1px;
}
.img_gbp{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    padding: 1px;
}
.img_czk{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    padding: 1px;
}

//third page

.third__page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--title{
        margin: 3% 0 3% 9%; 
        align-self: flex-start;
        color: $textLight;
    }
}

.us{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__person{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30%;
        height: 35vh;
        padding: 5%;
        background-color: $main;
        border-radius: 5px;

        &--logo{
            width: 15vh;
            border-radius: 50%;
            margin-bottom: 10%;
        }

        &--title{
            color: $textLight;
        }

        &--img{
            width: 30px;
            border-radius: 50%;  
        }

        &--link{
            margin-top: 10%;
        }

    }
}

.list{
    list-style: none;

    &__item{
        margin: 10% 0;
        color: $textLight;
        font-size: 18px;

        &--link{
            color: $second;
            font-size: 16px;
        }
    }
}

//musi byc na koncu 

.disabled{
    display: none;
}
